POSTGRES_DB=<db_name>
POSTGRES_DB_PORT=<db_port>
POSTGRES_USER=<db_user>
POSTGRES_PASSWORD=<db_password>
POSTGRES_HOST=<db_host>



# Postgres — your database connection
DATABASE_URL="postgresql://neondb_owner:npg_mLqJn3jhZW8y@ep-long-paper-b1xpfypf.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
DATABASE_URL_POOLED="postgresql://neondb_owner:npg_mLqJn3jhZW8y@ep-long-paper-b1xpfypf-pooler.c-5.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Storage — S3-compatible object storage
AWS_ENDPOINT_URL_S3="https://br-round-water-b1wyf6f6.storage.c-5.eu-central-1.aws.neon.tech"
AWS_ACCESS_KEY_ID="<generate-key>"
AWS_SECRET_ACCESS_KEY="<generate-key>"
AWS_REGION="eu-central-1"
S3_BUCKET="uploads"